.home{
  margin-top: 60px;
}

.avatar {
  width: 249px;
  height: 249px;
  flex-shrink: 0;
  /* border-radius: 230px; */
  /* border: 9px solid transparent; */
  /* background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, rgb(120, 120, 209),rgb(67, 67, 146), rgb(62, 62, 168),rgb(50, 50, 191)) border-box; */
  margin-top: 70px;
}

.avathar-img{
  margin-top: 60px;
  width: 230px;
  height: 230px;
  border-radius: 230px;
  margin-left: -10px;
}
.content{
  color:#000;
  margin-top: 110px;
  text-align: justify;
}
.cv-btn{
  width: 100px;
  background-color: #1b234a;
  color: white;
}
@media only screen and (max-width: 600px) {
  .avatar{
    margin-top: 27px;
    width: 230px;
    height: 230px;
    border-radius: 230px;
    margin-left: -10px;
  }
  .cv-btn{
    margin-left: 150px;
  }
  .avathar-img{
    margin-top: 0px;
    width: 210px;
    height: 210px;
    border-radius: 230px;
  }
  .content{
    color:#000;
    margin-top: 30px;
    font-size: 15px;
    padding-left: 30px;
    margin: 20px;
    text-align: justify;
  }  
 
 
}