.skill{
    margin-bottom: 50px;
    top: 0;
}
.skill-list-name{
    text-align: center;
}
.skill-heading{
    color: rgb(252, 32, 32);
    text-align: center;
    padding-top:20px;
}
.skill-heading2{
    color:black;
    padding-top: 30px;
}
.skill-para{
    color:black;
    text-align: center;
}
.skill-img{
    height: 400px;
    width: 300px;
    filter: brightness(100%) contrast(130%);
}
.skillset{
    padding-top: 50px;
}
.html, .css, .react, .bootstrap, .java, .github{
    height: 80px;
    width: 90px;
    margin: 20px;
    color:cadetblue; 
    border: 3px  solid black;
    border-radius: 20px;
    padding: 5px;
}
@media only screen and (max-width: 600px) {
    .skill-heading{
        text-align: center;
    }
    .skill-para{
        color:#000;
        font-size: 15px;
        margin: 20px;
        text-align: center;    
    }
    .skill-content{
        display: flex;
        flex-direction: column-reverse;
    }
    .skill-img{
        margin-left: 95px;
        height: 200px;
        margin-top: 20px;
        width: 120;
        border-radius: 50%;
    }
    .skill-list{
        display: flex;
        flex-direction: column;
        
    }
}

